<h1>Listing farmers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Farm</th>
      <th>Produce</th>
      <th>Produce price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= farmer.name %></td>
        <td><%= farmer.email %></td>
        <td><%= farmer.farm %></td>
        <td><%= farmer.produce %></td>
        <td><%= farmer.produce_price %></td>
        <td><%= link_to 'Show', farmer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
