<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @farmer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @farmer.email %>
</p>

<p>
  <strong>Farm:</strong>
  <%= @farmer.farm %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @farmer.produce %>
</p>

<p>
  <strong>Produce price:</strong>
  <%= @farmer.produce_price %>
</p>

<% if @is_admin %>
  <%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<% end %>
<%= link_to 'Back', farmers_path %>
